* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

main {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
}

/* Dashboard */
.dashboard {
    background-color: rgb(65, 160, 255);
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.dashboard svg {
    fill: white;
    width: 25px;
    height: auto;
}

.dashboard-header {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: 8px;
}

.dashboard-header h2 {
    font-size: 25px;
}

.dashboard-header svg {
    width: 40px;
    height: 40px;
}

.dashboard-nav ul {
    padding: 8px;
    list-style: none;
    display: grid;
    row-gap: 15px;
}

.dashboard-nav ul li a{
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 20px;
    color: white;
}

/* Main */
.main {
    background-color: white;
    display: grid;
    grid-template-rows: 180px 1fr;
}

.main svg {
    width: 25px;
    height: auto;
}

.main-header {
    background-color: white;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3);
    padding: 15px 45px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-bar {
    border-radius: 15px;
    border: none;
    padding: 7px 10px;
    background-color: rgb(239, 239, 239);
    width: clamp(30em, 35em, 40em);
}

.right {
    display: flex;
    gap: 25px;
    align-items: center;
}

.top-profile {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    flex-shrink: 0;
}

.user-name {
    font-weight: bold;
}

.bottom-profile {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.greet p {
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: bold;
}

.btn {
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: rgb(65, 160, 255);
    font-weight: bold;
}